@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&family=IBM+Plex+Sans+Thai:wght@600&family=Sarabun:wght@300&family=Source+Sans+Pro:wght@400;600&display=swap&family=IBM+Plex+Sans+Thai+Looped:wght@200;300&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

// .compare-container {
//   min-width: 520px;
// }

.body-container {
  width: 100%;
  padding-top: 54px;
  padding-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  /*max-width: 980px;*/
}
.mb3 {
  margin-bottom: 15px;
}

.row {
  display: flex;
  /*flex-wrap: wrap;*/
  margin-right: -15px;
}

@media (min-width: 577px) {
  .col {
    flex: 0 0 480px;
    padding-right: 15px;
  }
}

.style1-header {
  font-family: "IBM Plex Sans Thai", sans-serif;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.35;
}
.style1-body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 16px;
  line-height: 1.35;
}
.style1 .button {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.style2-header {
  font-family: "IBM Plex Sans Thai", sans-serif;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.35;
}
.style2-body {
  font-family: "Sarabun", sans-serif;
  font-size: 16px;
  line-height: 1.35;
}
.style2 .button {
  font-family: "Sarabun", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.style1 span {
  font-weight: 400;
}

.meta {
  border-bottom: 1px solid #999;
  margin-bottom: 20px;
}
.meta-label {
  color: #777;
  font-size: 13px;
}
.meta .h1 {
  font-weight: 600;
}

// .mx-auto {
//   margin-right: auto;
//   margin-left: auto;
// }
.max-w-490 {
  max-width: 490px;
}

.style3-header {
  font-family: "IBM Plex Sans Thai", sans-serif;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.35;
}

.style3 .button,
.style3-body {
  font-family: "thongterm", sans-serif;
  font-size: 16px;
  line-height: 1.35;
  font-weight: 300;
  font-style: normal;
}
.style3 .button {
  line-height: 1.5;
}

@media (max-width: 576px) {
  .col {
    flex: 0 0 75%;
    max-width: 75%;
    width: 75%;
    padding-right: 15px;
    flex-shrink: 0;
  }

  .body-container {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

.nav-wrap {
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  padding: 12px;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  right: 0;

  .nav-controls a{
    text-decoration: none;
    color: #000;
  }
}

.nav-controls {
  display: none;
}
.nav {
  display: flex;

  /* flex-wrap: wrap;border: 1px solid #0280fb; */
  /* border-radius: 5px; */
}
.nav-item {
  /* flex-grow: 1;
  max-width: 100%; */
  flex: 0 0 128px;
}

.nav-item a {
  text-align: center;
  display: block;
  padding: 5px 12px;
  text-decoration: none;
  border: 1px solid #0280fb;
  background-color: #fff;
  color: #0280fb;
  margin-left: -1px;
}

.nav-item:first-child a {
  /* border-left: none; */
  border-radius: 6px 0 0 6px;
}

.nav-item:last-child a {
  border-radius: 0 6px 6px 0;
}

.nav-item .nuxt-link-exact-active {
  background-color: #0280fb;
  color: #fff;
}
@media (max-width: 576px) {
  .nav-container {
    max-width: 400px;
    margin: 0 auto;
  }
  .nav-item {
    flex-grow: 1;
    max-width: 100%;
    flex: 1;
  }
}

@media (min-width: 577px) {
  .nav-wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .nav-controls {
    align-items: center;
    display: flex;
  }
  .css-1f2m600 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    cursor: pointer;
  }
  .css-8bmaul {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 1px;
    height: 13px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: #b7bdc6;
  }
  .css-5dhyy8 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: currentcolor;
    width: 16px;
    height: 16px;
    font-size: 16px;
    fill: currentcolor;
    cursor: pointer;
  }
}

.dark-mode {
  background-color: #000;
  color: #fff;

  .nav-wrap {
    background-color: rgba(29, 29, 31, 0.72);

    .nav-controls a{
      color: #fff;
    }
  }

  
}

.style4 .button,
.style4-body {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-size: 16px;
  line-height: 1.35;
  font-weight: 200;
  font-style: normal;
}

.style4-1 .button,
.style4-1-body {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-size: 16px;
  line-height: 1.35;
  font-weight: 300;
  font-style: normal;
}

img{
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}