@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&family=IBM+Plex+Sans+Thai:wght@600&family=Sarabun:wght@300&family=Source+Sans+Pro:wght@400;600&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

// .compare-container {
//   min-width: 520px;
// }

.body-container {
  width: 100%;
  padding-top: 54px;
  padding-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  /*max-width: 980px;*/
}
.mb3 {
  margin-bottom: 15px;
}

.row {
  display: flex;
  /*flex-wrap: wrap;*/
  margin-right: -15px;
}

@media (min-width: 577px) {
  .col {
    flex: 0 0 480px;
    padding-right: 15px;
  }
}

.style1-header {
  font-family: "IBM Plex Sans Thai", sans-serif;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.35;
}
.style1-body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 16px;
  line-height: 1.35;
}
.style1 .button {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.style2-header {
  font-family: "IBM Plex Sans Thai", sans-serif;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.35;
}
.style2-body {
  font-family: "Sarabun", sans-serif;
  font-size: 16px;
  line-height: 1.35;
}
.style2 .button {
  font-family: "Sarabun", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.style1 span {
  font-weight: 400;
}

.meta {
  border-bottom: 1px solid #999;
  margin-bottom: 20px;
}
.meta-label {
  color: #777;
  font-size: 13px;
}
.meta .h1 {
  font-weight: 600;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.max-w-490 {
  max-width: 490px;
}

.style3-header {
  font-family: "IBM Plex Sans Thai", sans-serif;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.35;
}

.style3 .button,
.style3-body {
  font-family: "thongterm", sans-serif;
  font-size: 16px;
  line-height: 1.35;
  font-weight: 300;
  font-style: normal;
}
.style3 .button {
  line-height: 1.5;
}

@media (max-width: 576px) {
  .col {
    flex: 0 0 75%;
    max-width: 75%;
    width: 75%;
    padding-right: 15px;
    flex-shrink: 0;
  }

  
  .body-container{
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    bottom: 0;
  }
}
